---
import Layout from '~/layouts/PageLayout.astro';
import Content from '~/components/widgets/Content.astro';
import Image from '~/components/common/Image.astro';
import ContactUs from '~/components/widgets/Contact.astro';

const metadata = {
  title: 'AstroWind — Free template for creating websites with Astro + Tailwind CSS',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Content Widget **************** -->

  <Content imageWidth={'2/5'} classes={{ container: 'max-w-5xl min-h-screen ' }}>
    <Fragment slot='content'>
      <h1 class='text-5xl tracking-tight gradient-1 sm:text-5xl mb-2'>Jasmine Choi</h1>
      Coder by day, cat mom by night
    </Fragment>

    <Fragment slot='bg'>
      <div class='absolute inset-0 bg-hero dark:bg-transparent'></div>
    </Fragment>

    <Fragment slot='image'>
      <Image
        class='mx-auto w-full rounded-full bg-gray-500 shadow-lg'
        width={500}
        height={500}
        widths={[400, 768]}
        sizes='(max-width: 768px) 100vw, 432px'
        layout='responsive'
        src='~/assets/images/jasmine-avatar.png'
        alt="Jasmine Choi's avatar"
      />
    </Fragment>
  </Content>

  <!-- Content Widget **************** -->

  <ContactUs
    id='contact'
    subtitle="Ready to bring your project to life? Let's get in touch!"
    inputs={[
      {
        type: 'text',
        name: 'name',
        label: 'Name',
      },
      {
        type: 'email',
        name: 'email',
        label: 'Email',
      },
    ]}
    textarea={{
      label: 'Message',
    }}
    disclaimer={{
      label:
        'By submitting this contact form, you acknowledge and agree to the collection of your personal information.',
    }}
    button='Submit'
  >
    <Fragment slot='title'>
      <span class='text-5xl tracking-tight gradient-1 sm:text-5xl'>Contact</span>
    </Fragment>
  </ContactUs>
</Layout>
